@using EntityLayer.Concrete
@model List<About>

<section class="page-section about-heading">
    @foreach (var item in Model)
    {
    <div class="container">
        

            <img class="@item.ImageClass" src="@item.ImageUrl" alt="..." />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">@item.Title</span>
                            <span class="section-heading-lower">@item.SecondTitle</span>
                        </h2>
                        <p>@item.Description</p>
                        <p class="mb-0">
                            @item.SecondDescription
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }



</section>
